.container {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 400px;

    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 4px;
}

.title {
    margin-bottom: 20px;
}